{% set tail = '?v=' ~ (app.debug ? date().timestamp : assets_urls['version']) %}
{% block title %}BookHelper{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {% if 'assets' in assets_urls|keys and 'js' in assets_urls['assets']|keys %}
        {% for assetUrl in assets_urls['assets']['js'] %}
            <script type="text/javascript" src="{{ asset(assetUrl) }}{{ tail }}"></script>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {% if 'assets' in assets_urls|keys and 'css' in assets_urls['assets']|keys %}
        {% for assetUrl in assets_urls['assets']['css'] %}
            <link href="{{ asset(assetUrl) }}{{ tail }}" rel="stylesheet">
        {% endfor %}
    {% endif %}
{% endblock %}